# Getting started

Python can be used like a calculator. Simply type in expressions to get them evaluated.

## Basic syntax for statements 
The basic rules for writing simple statments and expressions in Python are:
* No spaces or tab characters allowed at the start of a statement: Indentation plays a special role in Python (see the section on control statements). For now simply ensure that all statements start at the beginning of the line.
* The '#' character indicates that the rest of the line is a comment
* Statements finish at the end of the line:
  * Except when there is an open bracket or paranthesis:
 
```python
1+2
+3  #illegal continuation of the sum
(1+2
             + 3) # perfectly OK even with spaces
```

  * A single backslash at the end of the line can also be used to indicate that a statement is still incomplete  
 
```python
1 + \
   2 + 3 # this is also OK
```

The jupyter notebook system for writting Python intersperses text (like this) with Python statements. Try typing something into the cell (box) below and press the 'Run' button above to execute it. We will discuss operators that can be used in such operations further below, but for numbers these are mostly fairly obvious.

In [2]:
# this is a comment
x = 4
print(x)

4

In [6]:
1+4
+3

3

In [7]:
1+2
       +3

IndentationError: unexpected indent (<ipython-input-7-b32cc8339f13>, line 2)

In [8]:
(1+2
       +3)

6

In [11]:
1 + \
   2 + 3 +\
           4

10

## Data Types
### Numbers

In [13]:
a = 5
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [15]:
a1 = 12345678912345678123451234 
print(a1, "is of type", type(a1))

12345678912345678123451234 is of type <class 'int'>

In [22]:
b = 2.0645
print(b, "is of type", type(b))

2.0645 is of type <class 'float'>

In [24]:
c = 1+2j
print(c, "is of type", type(c))

(1+2j) is of type <class 'complex'>

### Strings
#### Creating Strings

In [26]:
string1 = "This is string one"
print(string1)

This is string one

In [16]:
string2 = 'This is string two'
print(string2)

This is string two

In [19]:
string3 = "it's a string"
print(string3)

it's a string

In [21]:
string4 = 'it\'s a "string"'
print(string4)

it's a "string"

In [24]:
string3 = '''This 
is
a
mulitiline
string.
'''
print(string3)

This
is
a
mulitiline
string.

In [25]:
string3 = """This 
is
a
mulitiline
string.
"""

print(string3)

This
is
a
mulitiline
string.

#### String Methods

In [31]:
# length of strings
string1 = "This is string one"
length_of_string1 = len(string1)
print("Length of string1:",  len(string1))

Length of string1: 18

In [32]:
# lower case
multi_case_string = "This String Has Upper AND Lower Case"
print(multi_case_string.lower())

this string has upper and lower case

In [34]:
# upper case
print(multi_case_string.upper())

this string has upper and lower case

In [38]:
# Split String
string_with_comma = "This is a string, that has a comma."
split_string_list = string_with_comma.split(",")

print(split_string_list)
print(split_string_list[0])
print(split_string_list[1])

['This is a string', ' that has a comma.']
This is a string
 that has a comma.

In [35]:
# Split String
string_with_comma = "This is a string, that has a comma."
split_string_list = string_with_comma.split()

print(split_string_list)
print(split_string_list[0])
print(split_string_list[1])

['This', 'is', 'a', 'string,', 'that', 'has', 'a', 'comma.']
This
is

In [36]:
string_with_comma.split()[0]

'This'

## Operators
### Arithmetic Operators
| Symbol | Task Performed |
|--------|-----------------|
| +      | Addition       |
| -      | Subtraction    |
| /      | Division       |
| //     | Integer division |
| %  | Modulus (remainder) |
| *  | Multiplication |
| **  | Exponentiation (power) |

As expected these operations generally promote to the most general type of any of the numbers involved i.e. int -> float -> complex.

In [41]:
x = 15
y = 4
print('x + y  =', x+y)
print('x - 1  =', x-y)
print('x / y  =', x/y)
print('x // y =', x//y)
print('x % y  =', x % y)
print('x * y  =', x*y)
print('x ** y =', x**y)

x + y  = 19
x - 1  = 11
x / y  = 3.75
x // y = 3
x % y  = 3
x * y  = 60
x ** y = 50625

### Comparison Operators
| Symbol | Task Performed |
|----|---|
| ==  | Equal |
| !=  | No equal |
| >  | Greater than |
| <  | Less than |
| >=  | Greater than or equal to |
| <= | Less than or equal to|

In [47]:
x = 10
y = 12

print('x > y  is', x>y)
print('x < y  is', x<y)
print('x == y is', x==y)
print('x != y is', x!=y)

x > y  is False
x < y  is True
x == y is False
x != y is True

In [48]:
x < y

True

### Logical Operators
| Symbol | Task Performed |
|----|---|
| and  | True if both statments are true |
| or  | True if one of the statments are True |
| not  | Reverse the results, True becomes False, False becomes True |

In [50]:
x = True
y = False

print('x and y is', x and y)
print('x or y  is', x or y) 
print('not x   is', not x)

x and y is False
x or y  is True
not x   is False

In [55]:
a = True
b = False

not b

True

In [57]:
x = 11
y = 5
a = 10
b = 12

x > y and a < b

True